<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <script src="Fudge/FudgeCore.js"></script>
    <script src="FudgeStory/FudgeStory.js"></script>
    <script src="./Build/Template.js"></script>
    <title>Demon's Cattle</title>
    <splash src="Assets/Background/RedBG1.jpg" />
</head>

<body>
    <scene>
        <div id="wrapper">

            <canvas>
            </canvas>
            <div id="border">
                <img src="/VisualNovel/Template/Assets/Background/rope-894898_960_720.webp" alt="Border">
            </div>

        </div>

        <speech>
            <name></name>
            <content></content>
        </speech>

        <dialog type="text">
            The content of a page of text for reading
        </dialog>

        <dialog type="inventory">
            <button type="button">close</button>
            <ul>
                <!-- <li>Fishy fish</li>
              <li>b</li>
              <li>c</li>
              <li>d</li>
              <li>e</li> -->
            </ul>
        </dialog>

        <div type="interface">
        </div>

    </scene>
</body>

</html>