body {
    background-color: #220c0c;
}

scene {
    width: 1280px;
    height: 720px;
    display: inline-block;
    position: relative;
}

#wrapper {
    position: relative;
}

canvas {
    width: 1280px;
}

#border {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

#border img {
    width: 1280px;
    height: 640px;
}

speech {
    position: absolute;
    top: 540px;
    left: 150px;
    color: rgb(231, 220, 245);
    background-color: #6b2b2b;
    border: double 8px #310e0e;
    width: 73%;
    height: 10vh;
    padding: 10px;
    /* adjustable font for speech text */
    font-size: 18px;
    font-family: 'Bebas Neue', sans-serif;
    font-style: oblique;
    font-weight: 800;
}

speech name {
    display: block;
    margin-bottom: 20px;
    color: rgb(209, 217, 224);
}

speech content {
    color: rgb(209, 217, 224);
}

.dialogBox {
    background-color: rgb(55, 109, 209);
    width: 480px;
    border: double;
    margin-left: 500px;
    margin-top: 300px;
}

.dialogBox button {
    background-color: rgb(160, 186, 235);
    border: double;
    margin: 5px;
    width: 150px;
}

.dialogBox2 {
    background-color: rgb(55, 109, 209);
    width: 280px;
    border: double;
    margin-left: 600px;
    margin-top: 300px;
}

.dialogBox2 button {
    background-color: rgb(160, 186, 235);
    border: double;
    margin: 10px;
    width: 250px;
    height: 50px;
}

.gameMenu button {
    margin-left: 10px;
    margin-right: 10px;
}

.individualCSSClass button {
    margin: 10px;
}

.individualCSSClass {
    margin-top: 300px;
    background-color: #867878;
}


/* IndividualCSSClass Special beginning Button */

.individualCSSClass button,
.individualCSSClass button:after {
    width: 100px;
    height: 76px;
    line-height: 78px;
    font-size: 20px;
    font-family: 'Bebas Neue', sans-serif;
    background: #2b0e0e 5%;
    border: 0;
    color: #fff;
    letter-spacing: 3px;
    box-shadow: 6px 0px 0px #653f3f;
    outline: transparent;
    position: relative;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

.individualCSSClass button:after {
    --slice-0: inset(50% 50% 50% 50%);
    --slice-1: inset(80% -6px 0 0);
    --slice-2: inset(50% -6px 30% 0);
    --slice-3: inset(10% -6px 85% 0);
    --slice-4: inset(40% -6px 43% 0);
    --slice-5: inset(80% -6px 5% 0);
    content: 'DEATH';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(45deg, transparent 3%, #584a4a 3%, #584a4a 5%, #4b1111 5%);
    text-shadow: -3px -3px 0px #867878, 3px 3px 0px #584a4a;
    clip-path: var(--slice-0);
}

.individualCSSClass button:hover:after {
    animation: 1s glitch;
    animation-timing-function: steps(2, end);
}

@keyframes glitch {
    0% {
        clip-path: var(--slice-1);
        transform: translate(-20px, -10px);
    }
    10% {
        clip-path: var(--slice-3);
        transform: translate(10px, 10px);
    }
    20% {
        clip-path: var(--slice-1);
        transform: translate(-10px, 10px);
    }
    30% {
        clip-path: var(--slice-3);
        transform: translate(0px, 5px);
    }
    40% {
        clip-path: var(--slice-2);
        transform: translate(-5px, 0px);
    }
    50% {
        clip-path: var(--slice-3);
        transform: translate(5px, 0px);
    }
    60% {
        clip-path: var(--slice-4);
        transform: translate(5px, 10px);
    }
    70% {
        clip-path: var(--slice-2);
        transform: translate(-10px, 10px);
    }
    80% {
        clip-path: var(--slice-5);
        transform: translate(20px, -10px);
    }
    90% {
        clip-path: var(--slice-1);
        transform: translate(-10px, 0px);
    }
    100% {
        clip-path: var(--slice-1);
        transform: translate(0);
    }
}