body {
    background-color: #220c0c;
}

scene {
    width: 1280px;
    height: 720px;
    display: inline-block;
    position: relative;
}

#wrapper {
    position: relative;
}

canvas {
    width: 1280px;
}

#border {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

#border img {
    width: 1280px;
    height: 640px;
}

speech {
    position: absolute;
    top: 540px;
    left: 150px;
    color: rgb(231, 220, 245);
    background-color: #6b2b2b;
    border: double 8px #310e0e;
    width: 73%;
    height: 10vh;
    padding: 10px;
}

speech name {
    display: block;
    margin-bottom: 20px;
    color: rgb(209, 217, 224);
}

speech content {
    color: rgb(209, 217, 224);
}

.dialogBox {
    background-color: rgb(55, 109, 209);
    width: 480px;
    border: double;
    margin-left: 500px;
    margin-top: 300px;
}

.dialogBox button {
    background-color: rgb(160, 186, 235);
    border: double;
    margin: 5px;
    width: 150px;
}

.dialogBox2 {
    background-color: rgb(55, 109, 209);
    width: 280px;
    border: double;
    margin-left: 600px;
    margin-top: 300px;
}

.dialogBox2 button {
    background-color: rgb(160, 186, 235);
    border: double;
    margin: 10px;
    width: 250px;
    height: 50px;
}